.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.d-none{
    display: none;
}
.d-block {
    display: block;
}
.section {
    padding: 80px 0;
    
    &-bg-light{
        background-color: $lightGrey;
    }
    &-bg-primary{
        background-color: $blue;
        color: $white;
    }
    &.section-sm{
        padding: 10px 0;
    }
}
.relative{
    position: relative;
}
.p0{
    padding: 0;
}
.pt-0{
    padding-top: 0;
}

.pb-0{
    padding-bottom: 0;
}
.pb-80{
    padding-bottom: 80;
}